{% extends 'base.html' %}
{% block content %}
    
<div class="container p-5">

  <div class="row align-items-start p-3 screen-80vh ">  

    <div class="col">
    
    <div class="card flex-md-row mb-4 box-shadow h-md-250 shadow-sm">
      <div class="card-body d-flex flex-column align-items-start">

        <div class="image-holder shadow-sm rounded ">
          <img class="card-img-right flex-auto d-none d-md-block image-holder__img" data-src="holder.js/200x250?theme=thumb" alt="avatar" src="{{ profile_photo }}" data-holder-rendered="true" />

          <button class="btn btn-link image-holder_edit-link" type="button" data-toggle="modal" data-target="#update-photo" >
            <p class="button-text">edit photo</p>
          </button>
        </div>

          <strong class="d-inline-block mb-2 text-primary">{{ user.username }}</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Current City: {{ user.profile.current_city }}</a>
          </h3>
          <div class="mb-1 text-muted">Join Date: {{ user.profile.created_at }}</div>
        </div>
      </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Posts</h6>

      {% if user_posts %}

        {% comment %} post start {% endcomment %}
        {% for post in  user_posts %}

          <div class="media text-muted pt-3">

            <div class="media-image mr-2 shadow">
               <img class="card-img-right flex-auto d-none d-md-block media-image__img" data-src="holder.js/200x250?theme=thumb" alt="avatar" src="{{ profile_photo }}" data-holder-rendered="true" />
            </div>

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">
                <a href="{% url 'post' post.id %}">{{ post.title }}</a>
              </strong>
            </p>
          </div>

        {% endfor %}
      </div>

      {% comment %} post ends {% endcomment %}
        {% else %}

         <div class="media text-center">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">No post at this time. </strong>
          </p>
        </div>

      {% endif %}

    </div>
  </div>

{% endblock %}

