.carousel-item {
    max-height: 80vh;
}

#description {
    text-align: center;
}

nav {
    /* background-color: grey; */
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke;
}


/* profile page */
.screen-80vh {
    min-height: 80vh !important;
}