{% extends 'base.html' %}

{% comment %} {% url 'artist_detail' pk=artist.id %} {% endcomment %}
{% block content %}
<div class="container-fluid">
    <div class="row full-screen p-3">

        {% comment %} NOTE city side bar {% endcomment %}
        <div class="col-2">
            {% for city in  cities %}

                <li>
                    <a href="{% url 'cities' city.id %}">{{ city.name }}</a>
                </li>

            {% endfor %}
        </div>

        {% comment %} NOTE city main content details {% endcomment %}
        <div class="col">
            {% comment %} row 1 city details {% endcomment %}
            <div class="row">

                {% comment %} titles/header column {% endcomment %}
                <div class="col-4">
                    <p>{{ city.name }}</p>
                    <p>{{ city.country }}</p>
                </div>

                {% comment %} image column {% endcomment %}
                <div class="col">
                    <img src="{{ city.image }}" >
                </div>
            
            </div>

            {% comment %} row 2 add post button {% endcomment %}
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sign-up" >
                        Add Post
                    </button>
                </div>
            </div>

            {% comment %} row 3 comments {% endcomment %}
            <div class="row">
                <div class="col">



                 {% for post in  posts %}

                    <div class="media text-muted pt-3">

                        {% comment %} <div class="media-image mr-2 shadow">
                        <img class="card-img-right flex-auto d-none d-md-block media-image__img" data-src="holder.js/200x250?theme=thumb" alt="avatar" src="{{ profile_photo }}" data-holder-rendered="true" />
                        </div> {% endcomment %}

                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">
                            <a href="{% url 'post' post.id %}">{{ post.title }}</a>
                        </strong>
                        </p>
                    </div>

                {% endfor %}

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}