{% extends 'base.html' %}

{% comment %} {% url 'artist_detail' pk=artist.id %} {% endcomment %}
{% block content %}
<div class="container-fluid">
    <div class="row full-screen">

        {% comment %} NOTE city side bar {% endcomment %}
        <div class="col-3 city-sidebar bg-light p-4 mr-3">
            <h3 class="city-header">cities</h3>

                {% for city in  cities %}
                    <div class="card mb-3 p-2 shadow-sm city-sidebar-cards rounded-lg">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ city.image }}" class="card-img" alt="...">
                            </div>

                            <div class="col-md-8">
                                <div id="{{ city.id }}" class="card-body">
                                    <h5 class="card-title">
                                        <a id="{{ city.id }}" class="city-link" href="{% url 'cities' city.id %}">{{ city.name }}   </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>    

                {% endfor %}
           
        </div>

        {% comment %} <p>{{user.profile.photo_profile}}</p> {% endcomment %}

        {% comment %} NOTE city main content details {% endcomment %}
        <div class="col">

            {% comment %} conatainer start {% endcomment %}
            <div class="container p-3">

                {% comment %} row 1 city details {% endcomment %}
                <div class="row mb-4 ">

                    {% comment %} titles/header column {% endcomment %}
                    <div id="{{ city.id }}" class="city-main-content col-4 ">
                        <h1 class="city-header">{{ city.name }}</h1>
                        <strong>{{ city.country }}</strong>
                    </div>

                    {% comment %} image column {% endcomment %}
                    <div class="col shadow p-2">
                        <img class="city-img image-fluid" src="{{ city.image }}" >
                    </div>
                
                </div>
                {% comment %} row 1 ends {% endcomment %}

                 {% comment %} row 2 add post button {% endcomment %}
                <div class="row mb-2 ">
                    <div class="col">
                        <button type="button" class="btn btn-primary shadow-lg rounded-circle float-right" data-toggle="modal" data-target="#add_post" >
                            &#43;
                        </button>
                    </div>
                </div>
               {% comment %} row 2 ends {% endcomment %}
               
                {% comment %} row 3 comments {% endcomment %}
                <div class="row">
                    <div class="col">
                    <div class="my-3 p-3 rounded shadow">
                        <h3 class="city-header">Posts</h3> 

                        {% for post in  posts %}
                            <div class="media text-muted p-2 shadow-sm mb-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#ee6f57"></rect></svg>

                                <p class="media-body pb-3 mb-0 small lh-125">
                                    <strong class="d-block text-gray-dark">
                                        <a href="{% url 'post' post.id %}">{{ post.title }}</a>
                                    </strong>
                                    {{post.post_body}}
                                </p>

                            </div>

                        {% endfor %}
                        
                    </div>

                    </div>
                </div>

            </div>
            {% comment %} conatainer ends {% endcomment %}

        </div>
    </div>

</div>


<!-- Modal add post -->
<div class="modal fade"  id="add_post" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="staticBackdropLabel">Add Post</h5>   
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <form action="{% url 'add_post' city.id %}" method="POST" class="card-panel">
                    {% csrf_token %}

                    <div class="row">
                        <div class="form-group col-md-8">
                            <select class="custom-select" name='city_id'>
                                <option default>Select a City....</option>
                                {% for city in  cities %}
                                    <option value="{{ city.id }}">{{ city.name }}</option>
                                {% endfor %}
                                
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="title" placeholder="title" name="title" >
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <textarea name="post_body" id="post_body" cols="56" rows="10"></textarea>
                        </div>
                    </div>
                   
                    <input type="submit" class="btn btn-primary float-right" value="Add Post">
                </form>
            </div>

            <div class="modal-footer">
                &nbsp; 
            </div>

        </div>
    </div>
</div>

{% endblock %}
